body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("bg-img.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 6px solid transparent;
  /* background-color:#302244; */
  background-color: rgba(35, 32, 95, 0.7);

  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  background-origin: border-box;
}
@media only screen and (max-width: 600px) {
  .login-box {
    width: 90vw;
    min-height: 70vh;
    max-height: fit-content;
    padding-top: 0;
    padding-bottom: 0;
  }

  #name {
    width: 80vw;
    min-height: 7vh;
    margin-bottom: 2vh;
  }
  .name-txt {
    text-align: center;
    font-size: 1ch;
    margin-bottom: 20px;
    color: aliceblue;
  }
  .after-sent {
    font-size: 2ch;
    color: aliceblue;
    text-align: center;
    margin-bottom: 2vh;
  }
}

@media only screen and (min-width: 601px) {
  .login-box {
    width: 55vh;
    min-height: 70vh;
    max-height: fit-content;
  }
  /* #btn { */
  /* width: 20vh; */
  /* height: 4vh; */
  /*  */
  /* } */
  #name {
    width: 45vh;
    min-height: 8vh;
    margin-bottom: 35px;
    transition: height 0.2s width 0.2s;
  }
  #name:focus {
    width: 46vh;
    height: 8vh;
  }
  .after-sent {
    font-size: 2ch;
    color: aliceblue;
    text-align: center;
    margin-bottom: 2vh;
  }
}

#btn {
  border-radius: 50%;
  padding: 10px;
}

#name {
  font-size: 2.5ch;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

img {
  width: 35px;
  height: 35px;
  user-select: none;
}
.name-txt {
  text-align: center;
  width: 45vh;
  font-size: 4ch;
  font-weight: bold;
  margin-bottom: 20px;
  color: aliceblue;
  padding-left: 3vh;
  padding-right: 3vh;
}
#developer {
  position: absolute;
  bottom: 2vh;
  color: aliceblue;
}
.loading {
  text-align: center;
  width: 45px;
  height: 45px;
}
